<div class="media">
  <a class="pull-left">
    <img class="media-object" src="/user.png" width="60" height="60">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <%= comment.commenter %>
      <small>
        <%= comment.created_at %>
      </small>
    </h4>
    <p>
      <%= comment.body %>
    </p>
    <p>
      <%= link_to 'Delete comment', [comment.article, comment], method: :delete,
                                                                data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
</div>