<div class="well">
  <h4>Blog Search</h4>
  <div class="input-group">
    <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
        <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

